DB_PASSWORD=your_password_here
DB_USERNAME=root
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# LS증권 EFriend Open API
LS_APP_KEY=your_ls_app_key_here
LS_APP_SECRET=your_ls_app_secret_here

# 한국투자증권(KIS) Open API
KIS_APP_KEY=your_kis_app_key_here
KIS_APP_SECRET=your_kis_app_secret_here

# 한국수출입은행 환율 API
EXIMBANK_AUTH_KEY=your_eximbank_auth_key_here

# FINNHUB
FINNHUB_API_KEY=your_key_here
FMP_API_KEY=your_key_here


