DB_PASSWORD=your_password_here
DB_USERNAME=root
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# LS증권 EFriend Open API
LS_APP_KEY=your_ls_app_key_here
LS_APP_SECRET=your_ls_app_secret_here


KIS_APP_KEY=your_KIS_app_key_here
KIS_APP_SECRET=your_KIS_app_secret_here

# FINNHUB
FINNHUB_API_KEY=your_key_here
FMP_API_KEY=your_key_here

